<div class="container-fluid">
  <div class="container">
  <div class="container-spacer">
    <h1>Tell Us About Your Business</h1>
    <p class="business-intro">By answering a few questions, we can help you select the services that best fit your business needs.</p>
  </div>

  <div class="container-spacer">
    <h3>What will you be sending?</h3>
    <p>Select all that apply.</p>
    <div class="block-group card-choices">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="" id="cardCheck1">
        <img src="../../assets/usps-9.jpg">
        <label class="form-check-label" for="cardCheck1">Packages</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="" id="cardCheck2">
        <img src="../../assets/usps-8.jpg">
        <label class="form-check-label" for="cardCheck1">Mail / Flats</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="" id="cardCheck3">
        <img src="../../assets/usps-7.jpg">
        <label class="form-check-label" for="cardCheck1">International</label>
      </div>
    </div>
  </div>

  <div class="container-spacer">
    <h3>Will you need to account for returns?</h3>
    <div class="block-group">
      <div class="form-check radio-size">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
        <label class="form-check-label" for="exampleRadios1">Yes</label>
      </div>
      <div class="form-check radio-size">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">No</label>
      </div>
    </div>
  </div>

  <div class="container-spacer">
    <h3>What types of things will you be shipping?</h3>
    <p>Select any that apply.</p>
    <div class="block-group card-choices">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="" id="cardCheck6">
        <img src="../../assets/usps-6.jpg">
        <label class="form-check-label" for="cardCheck1">Packages</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="" id="cardCheck7">
        <img src="../../assets/usps-5.jpg">
        <label class="form-check-label" for="cardCheck1">Mail / Flats</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="" id="cardCheck8">
        <img src="../../assets/usps-4.jpg">
        <label class="form-check-label" for="cardCheck1">International</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="" id="cardCheck9">
        <label class="form-check-label" for="cardCheck1">None of these apply</label>
      </div>
    </div>
  </div>

  <div class="container-spacer">
    <h3>How much will you typically ship?</h3>
    <p>Select the one that best describes your typical shipping volume.</p>
    <div class="block-group card-choices">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="" id="cardCheck10">
        <img src="../../assets/usps-3.jpg">
        <label class="form-check-label" for="cardCheck1">Low <span
          class="label-explainer">A few packages per week</span></label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="" id="cardCheck11">
        <img src="../../assets/usps-2.jpg">
        <label class="form-check-label" for="cardCheck1">Low <span
          class="label-explainer">Dozens or hundreds of packages per week</span></label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="" id="cardCheck12">
        <img src="../../assets/usps-1.jpg">
        <label class="form-check-label" for="cardCheck1">Low <span
          class="label-explainer">A few packages per week</span></label>
      </div>
    </div>
  </div>


  <div class="container-spacer">
    <h3>What operating system(s) do you have access to?</h3>
    <p>Select any that apply.</p>
    <div class="block-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">Microsoft Windows</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">Apple macOS</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
        <label class="form-check-label" for="defaultCheck3">I use a different operating system</label>
      </div>
    </div>
  </div>

  <div class="container-spacer">
    <h3>Do you currently use shipping or inventory software?</h3>
    <div class="block-group">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option1">
        <label class="form-check-label" for="exampleRadios1">Yes</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option2">
        <label class="form-check-label" for="exampleRadios2">No</label>
      </div>
    </div>
  </div>

  <div class="container-spacer">
  <button class="usps-link-btn primary">Next</button>
  </div>
</div>
</div>
