// vars
// colors
$white: #fff;
$usps-blue: #333366;
$usps-green: #218748;
$usps-drk-gray: #595959;
$usps-mid-gray: #D8D8D8;
$usps-lt-gray: #EDEDED;
$usps-whitesmoke: #f7f7f7;

// fonts
$usps-font: "HelveticaNeueW02-75Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
