<div class="custom-container">
    <div class="content-container row mobile-size remove-overflow">
    <div class="col-sm-8 top-margin">
      <h1>Business</h1>
      <h3>Shipping & Mailing Solutions for Businesses</h3>
      <p>USPSⓇ offers bulk mail and volume shipping services for small to large businesses. Easily print and track labels,
        schedule pickups, set up commercial forwarding, and manage customer returns. Boost campaigns with targeted
        advertising and industry insights from marketing and shipping experts.</p>

      <div class="account-container">
        <h4>Are you a first-time USPS business customer?</h4>
        <button class="primary-btn button-spacing" [routerLink]="['business']">Create a Business Account</button>
      </div>
    </div>

    <div class="col-sm-4">
      <img src="../assets/business-hero.png" alt="">
    </div>
  </div>
</div>
